@charset "UTF-8";

/* Paleta de cores:
#014023
#F21905
#F24405
#F27405
#F28705
*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #F24405;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;
    background-color: white;
    width: 325px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.440);
    transition: width .325s, height .325s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
div#imagem{
    height: 290px;
    background: url('../imagens/fundo.jpg') no-repeat center bottom / cover;
}
div#formu{
    padding: 10px;
}
div#formu h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formu p{
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 20px;
}
div.campo{
    background-color: #F21905;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #F21905;
    margin: 5px 0px;
}
div.campo span{
    color: #F28705;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo input{
    background-color: #F27405;
    font-size: 1em;
    width: calc(100% - 46px);
    height: 95%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}
div.campo input:focus-within{
    background: white;
}
label{
    display: none;
}

input[type=submit]{
    display: block;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #014023;
    color: white;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: white;
    color: #014023;
    border: 2px solid #014023;
}

a.botao{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: #014023;
    background-color: #F28705;
    border: 2px solid #014023;
    border-radius: 5px;
    padding-top: 7px;
    margin-top: 5px;
}
a.botao:hover{
    background-color: white;
    color: #F28705;
    border: 2px solid #F28705;
}
a.botao span{
    font-size: 1em;
}