@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    background-color: lightgrey;
}

header{
    background-color: grey;
}
header h1{
    padding: 10px;
    text-align: center;
}

span#burger{
    display: block;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    color: white;
    text-align: center;
    cursor: pointer;
}
span#burger:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}
menu ul{
    list-style-type: none;
}
menu a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(81, 81, 81);
    color: white;
    border-top: 2px solid grey;
}
menu a:hover{
    background-color: rgb(109, 109, 109);
}

main{
    max-width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article h2{
    padding-bottom: 20px;
}
article p{
    text-align: justify;
    text-indent: 30px;
    padding-bottom: 15px;
    line-height: 1.4em;
}