@charset "UTF-8";

body{
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(255, 189, 66), rgb(123, 255, 255));
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    color: rgb(255, 255, 255);
}

h2, h3{
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.485);
}
h2.html{
    color: rgb(255, 98, 0);
}
h2.css{
    color: rgb(13, 252, 172);
}

.basico{
    color: rgb(67, 255, 98);
}
.medio{
    color: rgb(250, 250, 26);
}
.adv{
    color: rgb(157, 0, 0);
}
/* 
Id = Representado por #, só 1 elemento por documento pode ter um id.
Class = Representado por ., pode ser usado em vários elementos.
*/